/* ==========================================================================
   FOOTER
   ========================================================================== */

.c-page-footer {
  padding-top: 50px;
  background-color: $color-primary;
}

.c-page-footer-upper {
  background-color: $color-primary;

  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  color: #fff;
  h4 {
  color: #fff;

  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}

.c-page-footer-lower {
  background-color: #46474d;
  color: #fff;
  padding-left: 25px; 
  padding-right: 25px;
  font-size: 15px; 
  > div {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}